form {
    display: flex;
    flex-direction: column;
}

.form-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

input {
    margin: 5px;
    min-width: 25vw;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 10px;
}

.info.center {
    align-items: center;
}

.info.left {
    align-items: flex-start;
}

button, .button {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    border: none;
    font-size: 100%;
    background-color: rgb(102, 145, 201);
    cursor: pointer;
}

button.reject, .button.reject {
    background-color: rgb(212, 99, 99);
}

button.confirm, .button.confirm {
    background-color: rgb(126, 184, 126);
}

.selection-bar {
    display: flex;
    flex-direction: row;
}

img {
    max-width: 50vw;
    max-height: 50vh;
}